<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="box-sizing:border-box;margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;width: 560px;">
        <img style="display: flex;margin: auto;text-align: center;width: 140px;height: auto;" src="https://myshop.inspirothemes.com/sites/all/themes/myshop/logo.png">
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Xin chào {{name}},
            <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Còn 15 phút nữa là diễn ra chương trình Flash Sale.</div> </div> 
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Thời gian bắt đầu: <span style="color: red; font-weight: 700;">{{startTime}}</span></div>
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Thời gian kết thúc: <span style="color: red; font-weight: 700;">{{endTime}}</span></div>
        <div style="margin-top: 20px;font-size: 13px;color: black;line-height: 18px;">Chúc bạn có một khoảng thời gian săn sale như ý muốn</div>
    </div>
</body>
</html>