<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="box-sizing:border-box;margin: auto;padding: 0;font-family: Helvetica, Arial, sans-serif;width: 560px;">
        <img style="display: flex;margin: auto;text-align: center;width: 140px;height: auto;" src="https://myshop.inspirothemes.com/sites/all/themes/myshop/logo.png">
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Xin chào {{name}},
            <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Chúng tôi nhận được yêu cầu thiết lập lại mật khẩu cho tài khoản MyShop của bạn.</div> </div> 
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Nhấn <span style="color: red; font-weight: 700;"><a style="text-decoration: none; color: red;" href="{{link}}">tại đây</a></span> để thiết lập mật khẩu mới cho tài khoản MyShop của bạn.</div>
        <div style="margin-top: 10px;font-size: 13px;color: black;line-height: 18px;">Hoặc vui lòng copy và dán đường dẫn bên dưới lên trình duyệt:</div>
        <div style="margin-top: 20px;font-size: 13px;color: black;line-height: 18px;">[<a href="{{link}}">{{link}}</a>]</div>
    </div>
</body>
</html>