<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style-send-email.css">
    <title>Document</title>
</head>
<body>
    <div style="box-sizing:border-box;margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
        <img style="display: flex;margin: auto;text-align: center;width: 140px;height: auto;" src="https://myshop.inspirothemes.com/sites/all/themes/myshop/logo.png">
        <div style="margin-top: 10px;text-align: center;font-size: 13px;color: black;line-height: 18px;">Xin chào.
            <div style="margin-top: 10px;text-align: center;font-size: 13px;color: black;line-height: 18px;">Mã xác minh tài khoản MyShop của bạn là:</div> </div> 
        <div style="text-align: center;font-size: 40px;font-weight: 600;color: red;line-height: 100px;letter-spacing: 18px;">{{otp}}</div> 
        <div style="text-align: center;font-size: 13px;color: black;line-height: 18px;">Có hiệu lực trong 15 phút. KHÔNG chia sẻ mã này với người khác, kể cả nhân viên MyShop.</div>
    </div>
</body>
</html>